body {
    background-color: pink;
    color: rosybrown;
    font-family: "Times New Roman", Times, serif;
    font-size: 160%;
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
h6 {
    color: brown;
    font-family: "Apple Chancery";
    font-size: 200%;
}
p {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 2px solid powderblue;
    padding: 30px;
    margin: 50px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    width: 50%;
    border-radius: 15px;
    border-style: dotted;
}
th{
    border: 1px solid white;
    background-color: #96D4D4;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: dotted;
    border-color: #9697d4;
}
td{
    border: 1px solid white;
    background-color: #96D4D4;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    border-style: dashed;
    border-color: #9697d4;
}